{# templates/lucky/number.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}My lucky number{% endblock %}

{% block body %}
    <h1>Your lucky number is {{ number }}</h1>

    <pre> 
        <?php print_r(apache_get_modules()); ?> 
    </pre>

{% endblock %}